= stylesheet_link_tag 'leaflet'
= stylesheet_link_tag 'leaflet-routing-machine'
= javascript_include_tag 'leaflet'
= javascript_include_tag 'leaflet-routing-machine'
= javascript_include_tag 'route-machine/route_machine'
= javascript_include_tag 'home'
= content_for :title, 'OSM'

.mdl-grid
  .map-container.mdl-cell.mdl-cell--8-col{style: 'height: 500px; width: 1000px; border: 1px solid #cecece;'}
    #map{style: 'height: 100%;'}
  #map-form.mdl-cell.mdl-cell--4-col{style: 'margin: 10px;'}
    .mdl-grid.mdl-cell.mdl-cell--12-col
      %h3 OSM - Rota
      .block{'data-route': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-2.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-location-name': '', 'data-route-input': ''}
          %label.mdl-textfield__label{for: 'input-2'} Endereço
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}
      .block{'data-route': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-3.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-location-name': '', 'data-route-input': ''}
          %label.mdl-textfield__label{for: 'input-3'} Endereço
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}
      .block{'data-route': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-4.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-location-name': '', 'data-route-input': ''}
          %label.mdl-textfield__label{for: 'input-4'} Endereço
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}

    .mdl-grid.mdl-cell.mdl-cell--12-col
      %h3 OSM - Pontos
      .block{'data-marker': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-2.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-location-name': '', 'data-marker-input': ''}
          %label.mdl-textfield__label{for: 'input-2'} Endereço
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}
      .block{'data-marker': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-3.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-location-name': '', 'data-marker-input': ''}
          %label.mdl-textfield__label{for: 'input-3'} Endereço
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}
      .block{'data-marker': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-4.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-location-name': '', 'data-marker-input': ''}
          %label.mdl-textfield__label{for: 'input-4'} Endereço
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}

    .mdl-grid.mdl-cell.mdl-cell--12-col
      %button.mdl-button.mdl-js-button.mdl-button--primary.right{'data-marker-remove': ''} Remover marker
