= stylesheet_link_tag 'leaflet'
= stylesheet_link_tag 'leaflet-routing-machine'
= javascript_include_tag 'leaflet'
= javascript_include_tag 'leaflet-routing-machine'
= javascript_include_tag 'route-machine/route_machine'
= javascript_include_tag 'home'
= content_for :title, 'OSM'

.mdl-grid
  #map-form.mdl-cell.mdl-cell--4-col{style: 'margin: 10px;'}
    .mdl-grid.mdl-cell.mdl-cell--12-col
      .block{'data-route': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-1.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-marker-name': ''}
          %label.mdl-textfield__label{:for => "input-1"} Endereço
        -# %button.mdl-button.mdl-js-button.mdl-button--primary.mdl-button--raised.right{'data-marker-find': ''} Buscar
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}


      .block{'data-route': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-2.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-marker-name': ''}
          %label.mdl-textfield__label{:for => "input-2"} Endereço
        -# %button.mdl-button.mdl-js-button.mdl-button--primary.mdl-button--raised.right{'data-marker-find': ''} Buscar
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}


      .block{'data-route': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-3.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-marker-name': ''}
          %label.mdl-textfield__label{:for => "input-3"} Endereço
        -# %button.mdl-button.mdl-js-button.mdl-button--primary.mdl-button--raised.right{'data-marker-find': ''} Buscar
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}


      .block{'data-route': ''}
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right{'data-map-input': ''}
          %input#input-4.mdl-textfield__input{placeholder: 'Endereço', type: 'text', 'data-marker-name': ''}
          %label.mdl-textfield__label{:for => "input-4"} Endereço
        -# %button.mdl-button.mdl-js-button.mdl-button--primary.mdl-button--raised.right{'data-marker-find': ''} Buscar
        %input{type: 'hidden', 'data-lat': ''}
        %input{type: 'hidden', 'data-lng': ''}

    .mdl-cell.mdl-cell--12-col
      %button.mdl-button.mdl-js-button.mdl-button--primary.mdl-button--raised.right{'data-route-create': ''} Traçar rota

  .map-container.mdl-cell.mdl-cell--8-col{style: 'height: 500px; width: 1000px; border: 1px solid #cecece;'}
    #map{style: 'height: 100%;'}
